body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e9e3cf;
  padding: 10px 40px;
}

/* Logo */
.logo img {
  height: 50px;
}

/* Menu */
.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.menu a.active3 {
  color: #4b4be0;
  text-decoration: underline;
}

/* Container */
.karyawan-container {
  padding: 40px;
  color: white;
  text-align: center;
}

.judul {
  margin-bottom: 40px;
}

/* Layout grid */
.karyawan-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* Card karyawan */
.card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* Foto */
.card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

/* Nama */
.card h2 {
  margin: 15px 0 5px;
}

/* Jabatan */
.card p {
  color: #ccc;
}
