body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e9e3cf;
  padding: 10px 40px;
}

/* Logo */
.logo img {
  height: 50px;
}

/* Menu */
.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.menu a.active4 {
  color: #4b4be0;
  text-decoration: underline;
}
